<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Gagan PP image.jpg" alt="me">
        <p>Hi Everyone!</p>
        <p>I am Gagan Tripathi, Angular and NodeJS application developer. An entusiast who is ready to learn about Web Development. This is a NodeJS basic application which is used to show the functionality of how to create an API and how to integrate within an application.</p>
    </div>
    {{>footer}}
</body>


</html>