<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a general Node application built with Express and use Handlebars to render the different pages. This application is built for learning purpose only.</p>
    </div>
    {{>footer}}
</body>


</html>